Categories=Network;WebBrowser;
Type=Application
Comment=Access the Internet
Icon_orig=google-chrome
Class=google-chrome-stable
Actions=NewWindow;NewPrivateWindow;
MimeType=text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
Name=Google Chrome
GenericName=Web Browser
Version=1.0
Exec=/usr/bin/google-chrome-stable
Icon=google-chrome
Terminal=false
